@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');

$systemUi: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$white: whitesmoke;
$red: rgb(237,57,60);
$black: rgb(9,14,17);

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body { 
    font-family: $systemUi;
    margin: 0;
    color: whitesmoke;

    .content {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .left {
        width: 40%;
        height: 100vh;
        background: url(/Sign-up/valentin-beauvais-9Wi7WOZHGWo-unsplash.jpg) center;
        background-repeat: no-repeat;
        .img{
            background-color: rgb(9,14,17, 0.45);
            height: 180px;
            width: 100%;
            font-size: 25px;
            @include flexCenter();
            gap: 15px;
            margin-top: 190px;
            img{
            height: 150px;
            }
        }
        .ref{
            @include flexCenter();
            margin-top: 400px;
            font-size: 9px;
            opacity: 0.8;
            p {
            margin: 0;
            }
            a{
            text-decoration: none;
            color: whitesmoke;
            }
        }
    }

    .right {
        width: 60%;
        height: 100vh;
        background-color: $black;
        padding: 0;

        .rightside {
            padding-left: 25px;
        }

        .text {
            margin-top: 50px;
            padding-right: 10px;
        }

        .form {
            width: 100%;
            margin-top: 80px;
            padding: 25px 0px;
            background-color: rgb(11, 18, 21);
            box-shadow: 0 8px 6px -6px rgb(15, 25, 29);

            .input {
                display: inline-block;
                margin-right: 15px;
                margin-top: 15px;
                width: 40%;
                font-size: 1rem;
                text-transform: uppercase;
                opacity: 65%;
                input {
                    background-color: rgb(2, 2, 2);
                    border: 1px solid rgb(77, 77, 77);
                    border-radius: 3px;
                    color: white;
                    width: 100%;
                }

                input:valid{
                    border-color: rgb(77, 77, 77);
                }

                input:invalid{
                    border-color: $red;
                }

                label {
                    display: block;
                    font-size: 13px;
                    margin-bottom: 5px;
                }
            }
        }

        button {
            margin-top: 40px;
            box-shadow: none;
            border-radius: 8px;
            height: 55px;
            width: 240px;
            border: 1px solid $red;
            background-color: $black;
            color: $red;
            font-size: 18px;
            font-style: bold;
        }

        button:hover {
            color: $black;
            background-color: $red;
        }

        .log-in{
            margin-top: 20px;
            display: flex;
            gap: 7px;
            .red {
                color: rgb(237,57,60);
                cursor: pointer;
            }
    
            .red:hover{
                color: whitesmoke;
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 50px;
            bottom: 0;
            height: 50px;
        }
        
        .footer i {
            transition: 0.3s;
            margin-left: 15px;
        }
        
        .footer i:hover {
            transform: scale(1.2);
        }
    }

}

